
/**
 * Tweaks for core site layout.
 */

.navbar-fixed-top .navbar-inner {
  min-height: 53px;
}

.navbar .nav.pull-right {
  margin-top: 0;
}
.navbar-fixed-top .nav {
  margin-top: 8px;
}

.navbar .brand {
  padding: 5px 20px;
}

#footer {
  min-height: 60px;
  margin-top: 50px;
}

#footer .copyright .copy {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  color: #aaa;
}


/**
 * Homepage
 */

#hero {
  padding-top:    25px;
  padding-bottom: 25px;
}

.carousel {
  margin-bottom: 0;
}

.carousel .item {
  height: 320px;
}

@media (min-width: 1200px) {
  .carousel .item [class*="span"] {
    margin-left: 10px;
  }
  .carousel .item {
    height: 350px;
  }
}

@media (min-width: 980px) {
  #hero .carousel-inner .item {
    padding: 0px 40px;
  }
}

@media (max-width: 767px) {
  .carousel .item {
    height: 460px;
  }
}

@media (max-width: 600px) {
  .carousel .item {
    height: 500px;
  }
}

#intro {
  margin-top: 25px;
}

#intro h1 {
  width: 70%;
}


/**
 * FAQ
 */

body #faq {
  margin-bottom: 30px;
}

body #faq .faq .answer {
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: none;
  padding-bottom: 0;
  box-shadow: none;
}
