
/**
 * Tweaks for core site layout.
 */

.navbar-fixed-top .navbar-inner {
  min-height: 53px;
}

.navbar-fixed-top .nav {
  margin-top: 8px;
}

.navbar .brand {
  padding: 5px 20px;
}

#footer {
  min-height: 60px;
  margin-top: 50px;
}

#footer .copyright .copy {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  color: #aaa;
}


/**
 * Tweaks for particular pages.
 */

body #faq {
  margin-bottom: 30px;
}

body #faq .faq .answer {
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: none;
  padding-bottom: 0;
  box-shadow: none;
}
