@font-face {
	font-family: 'Conv_ChaletComprimeCologneEighty';
	src: url('fonts/ChaletComprimeCologneEighty.eot');
	src: local('☺'), url('fonts/ChaletComprimeCologneEighty.woff') format('woff'), url('fonts/ChaletComprimeCologneEighty.ttf') format('truetype'), url('fonts/ChaletComprimeCologneEighty.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Gotham-Book';
	src: url('fonts/Gotham-Book.eot');
	src: local('☺'), url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf') format('truetype'), url('fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Reset ================================================================================= */
* { margin:0; padding:0; }

body          { background:#fff url(../images/bkg_body.gif) 50% 0 repeat-x; font: 300 13px/1.55 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#2f2f2f; }

img           { border:0; vertical-align:top; }

a             { color:#1e7ec8; text-decoration:underline; }
a:hover       { text-decoration:none; }
:focus        { outline:0; }

/* Headings */
h1,h2,h3,
h4,h5,h6      { margin:0 0 5px; line-height:1.35; color:#0a263c; }
h1            { font-size:20px; font-weight:normal; }
h2            { font-size:18px; font-weight:normal; }
h3            { font-size:16px; font-weight:bold; }
h4            { font-size:14px; font-weight:bold; }
h5            { font-size:12px; font-weight:bold; }
h6            { font-size:11px; font-weight:bold; }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 10px; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */
ul,ol         { list-style:none; }

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
.clear        { clear: both !important; }
/* ======================================================================================= */

.page {
    background: url("../images/bkg_top_bar.png") no-repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 5px #AAAAAA;
    margin: 20px auto;
    padding: 17px;
    width: 979px;
}

#main-navigation #nav { float: right; }
#main-navigation #nav li {
    float: left;
    margin-right: 5px;
}
#main-navigation #nav li a {
    display: block;
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    padding: 0 0 0 10px;
    text-decoration: none;
}
#main-navigation #nav li a span{
    display: block;
    font-size: 18px;
    color: #6b6b6b;
    height: 42px;
    line-height: 42px;
    padding: 0 20px 0 10px;
}
#main-navigation #nav li.active a,
#main-navigation #nav li a:hover{
	background: url("../images/bkg_navigation.gif") no-repeat scroll 0 0 transparent;
}
#main-navigation #nav li.active a span,
#main-navigation #nav li a:hover span {
	background: url("../images/bkg_navigation.gif") no-repeat scroll 100% 0 #fff;
	color: #fff;
}

.top-group { padding: 10px 0px 0 0; clear: both; }
.top-group h1.logo {
    float: left;
    margin: -52px 10px 0 0;
}
.top-group .slogan { padding: 15px 0 0; }
.top-group .slogan .top-title { font-size: 38px; color: #fb690a; font-weight: 500; display: block; }
.top-group .slogan .bottom { font-size: 26px; color: #754c00; }
.top-group .slogan strong { font-size: 26px; color: #754c00; text-decoration: underline; }
.top-group .slogan .bottom .yellow_bg {
    background-color: #FCDF27;
    padding: 1px 12px;
}
.content-wrapper { clear: both; padding: 30px 0 0 0; }
.theme {
    background: url("../images/bkg_gradiant_content.png") repeat-x scroll center bottom transparent;
    padding-left: 20px;
    padding-top: 20px;
}
.theme .options {
    border-bottom: 1px solid #C5C5C5;
    float: left;
    height: 283px;
    overflow: hidden;
}
.theme .options li {
    float: left;
    margin-right: 11px;
    width: 115px;
    position: relative;
}
.theme .options li a{ text-decoration: none; color: #676767; }
.theme .options li a span.active { display: none; }
.theme .options li.selected-widget a span.active {
    background: url("../images/bkg_check.png") no-repeat scroll center top transparent;
    color: #676767;
    display: block;
    font-size: 11px;
    left: 0;
    padding: 40px 6px 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 30%;
    width: 105px;
}
.theme .options li.selected-widget a span.border-active,
.theme .options li a:hover span.border-active {
    background: url("../images/border_active.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 198px;
    left: 0;
    position: absolute;
    top: 0;
    width: 115px;
}
.theme .options li a{
	display: block;
}
.theme .options li a span.title-widget{ display: block; padding: 10px 0px; color: #676767; }

#widget-preview {
    background: url("../images/bkg_widget.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 332px;
    margin-right: 33px;
    margin-top: -78px;
    padding: 15px;
    width: 346px;
}
#widget-preview h4 {
    color: #676767;
    font-size: 13px;
    text-shadow: 1px 1px 1px #FFFFFF;
    padding-left: 7px;
}
#widget-preview .widget {
    height: 298px;
    padding: 5px 9px 7px 6px;
}
#widget-preview .widget h2.widget-title {
    border-bottom: 1px solid #C6C6C6;
    color: #DB3900;
    font-family: 'Conv_ChaletComprimeCologneEighty';
    font-size: 46px;
    letter-spacing: -1px;
    line-height: 100%;
    margin: 0;
    padding: 13px 0 2px;
    text-align: center;
    text-transform: uppercase;
}
#widget-preview .widget.widget-white {
    background: url("../images/bkg_white_widget.png") no-repeat scroll 0 0 transparent;
}
#widget-preview .widget.widget-silver {
    background: url("../images/bkg_white_silver.png") no-repeat scroll 0 0 transparent;
}
#widget-preview .widget.widget-silver .contribute-btn-container{
	background-image: url("../images/widget_silder_line.png");
}
#widget-preview .widget.widget-silver h2.widget-title {
    background: url("../images/widget_silder_line.png") repeat-x scroll center bottom transparent;
    border-bottom: 0 none;
    padding-bottom: 4px;
}

#widget-preview .widget.widget-blue {
    background: url("../images/bkg_white_blue.png") no-repeat scroll 0 0 transparent;
}
#widget-preview .widget.widget-blue .contribute-btn-container{
	background-image: url("../images/widget_silder_line.png");
}
#widget-preview .widget.widget-blue h2.widget-title {
    background: url("../images/widget_silder_line.png") repeat-x scroll center bottom transparent;
    border-bottom: 0 none;
    padding-bottom: 4px;
}
#widget-preview .widget.widget-dark {
    background: url("../images/bkg_white_dark.png") no-repeat scroll 0 0 transparent;
}
#widget-preview .widget.widget-dark .contribute-btn-container{
	background-image: url("../images/bkg_line_dark.png");
}
#widget-preview .widget.widget-dark h2.widget-title {
    background: url("../images/bkg_line_dark.png") repeat-x scroll center bottom transparent;
    border-bottom: 0 none;
    padding-bottom: 4px;
}
#widget-preview .widget.widget-dark .info h6,
#widget-preview .widget.widget-dark .info h2 {
	color: #fff;
}
#widget-preview .widget.widget-dark .a-center .buy_bitcoins{
	color: #fff;
	text-shadow: 1px 1px 1px #000000;
}
#widget-preview .widget.widget-dark .a-center .powered {
	color: #525252;
	text-shadow: 1px 1px 1px #000000;
}
#widget-preview  .info { margin: 10px 0px; overflow: hidden; text-transform: uppercase; text-align: center; }
#widget-preview  .info h2{ margin: 0; font-size: 27px; line-height: 100%; }
#widget-preview  .info h6 { margin: 0; font-size: 12px; }
#widget-preview .info .raised {
    border-right: 1px dashed #CBCBCB;
    float: left;
    width: 166px;
}
#widget-preview  .info .goal { 
	float: right;
    width: 160px;
}
.status-bar-container { margin: 0 0px 15px 0; }
.status-bar-container .bg_bar {
    background: url("../images/bkg_progress.png") repeat scroll 0 0 transparent;
    height: 33px;
    margin: 0 auto;
    overflow: hidden;
    padding: 3px;
    width: 278px;
}
.status-bar-container .bg_bar .bar {
    background: url("../images/bkg_progress_bar.png") no-repeat scroll 100% 0 transparent;
    height: 34px;
}
.contribute-btn-container {
    background: url("../images/bkg_contribute.png") repeat-x scroll center center transparent;
}
.contribute-btn-container .contribute-btn {
    background: url("../images/btn_contribute.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 43px;
    line-height: 43px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px #B5B5B5;
    text-transform: uppercase;
    width: 233px;
}
#content{
	padding: 20px 0px 0;
}
.widget .a-center{

}
.widget .a-center .buy_bitcoins {
    color: #5A5A5A;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.widget .a-center .powered {
    color: #888888;
    font-family: arial;
    font-size: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-transform: uppercase;
}
.info-setup { width: 450px; float: left; }
h2.title-info{ font-size: 24px; color: #393939; margin: 5px 0px 20px; }
.info-setup .inputs-fields {  }
.info-setup .inputs-fields li{ overflow: hidden; padding: 0px 0px 15px; }
.info-setup .inputs-fields li .two-inputs {  }
.info-setup .inputs-fields li .two-inputs .col-left {
    float: left;
    width: 280px;
}
.info-setup .inputs-fields li .two-inputs .col-right {
    float: left;
    width: 170px;
}
.info-setup .inputs-fields li .two-inputs input{ width: 120px; }
.info-setup .inputs-fields li .two-inputs select {
    border: 1px solid #CCCCCC;
    float: right;
    font-size: 15px;
    height: 28px;
    line-height: 31px;
    padding: 2px;
    width: 75px;
}
.info-setup .inputs-fields li .two-inputs .col-right label {
    width: 85px;
}
.info-setup .inputs-fields li label {
    float: left;
    font-size: 15px;
    text-align: right;
    width: 141px;
    padding: 2px 0px;
}
.info-setup .inputs-fields li input {
    float: right;
    padding: 5px 2px;
    width: 290px;
}
.info-setup .inputs-fields li .btn-generate {
    background: url("../images/bkg_btn_generate.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    float: right;
    font-family: Helvetica,Arial;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    width: 166px;
}
#faq-container.info-setup {
    float: right;
    padding-right: 70px;
    width: 340px;
}
#faq-container.info-setup .faq-info{  }
#faq-container.info-setup .faq-info dt{ color: #666562; font-size: 13px; padding: 3px 0; cursor: pointer; }
#faq-container.info-setup .faq-info dd{ color: #6b6b6b; font-size: 12px;  border-top : 1px solid #bfbebe; border-bottom: 1px solid #bfbebe; }
#faq-container.info-setup .faq-info dd p{ padding: 4px 15px 4px 0; margin: 0; }
#faq-container.info-setup .faq-info a{ color: #d6952f; text-decoration: underline;  }
#faq-container.info-setup .more-faq {
    background: url("../images/bkg_more_faqs.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    float: right;
    font-family: Helvetica,Arial;
    font-size: 16px;
    font-weight: 500;
    height: 32px;
    line-height: 32px;
    margin-top: 11px;
    text-align: center;
    text-decoration: none;
    width: 166px;
}
/*
#fly-container {
    margin-left: -1100px;
    opacity: 0;
    position: relative;
}
*/
.herader-container { padding: 20px 0px 0 0; }
p.copy {
    margin: -7px auto 20px;
    width: 980px;
}
.col2-right-layout { overflow: hidden; border-top: 1px solid #cccccc; padding: 20px 0px; margin: 0 0 0 10px; }
.col2-right-layout .col-main {
    float: left;
    width: 580px;
}
.col2-right-layout .col-right{
    width: 305px;
    float: right;
    padding: 0 0 0 50px;
    border-left: 1px solid #cccccc;
}
#widget-preview.preview-widget-contact-us {
    background: none repeat scroll 0 0 transparent;
    float: none;
    margin: 0 auto;
}
.col2-right-layout h2 {
    color: #393939;
    font-size: 24px;
    margin: 5px 0;
}
.col2-right-layout p{ margin: 0 0 30px 0; }
ul.posts-list { padding: 0 0px 20px 0;  }
ul.posts-list li{ padding: 10px 0px; }
ul.posts-list li span.date { display: block; color: #0069b4; }
ul.posts-list li h3 { font-size: 12px; font-weight: normal; }
ul.posts-list li h3  a { color: #323232; text-decoration: none; }
.ui-accordion .ui-accordion-header { margin: 0; font-size: 20px; }
.ui-accordion .ui-accordion-content { font-size: 18px; }
.ui-accordion-icons .ui-accordion-header a{ font-weight: bold; color: #1E7EC8!important; }
.become-partner a { color: #cb7617; }

/*  Old Contact Form 
.contact-from-wrapper {  }
.contact-from-wrapper .input-text-container {
    overflow: hidden;
    padding: 15px 0;
}
.contact-from-wrapper .input-text-container label {
    float: left;
    font-size: 14px;
    padding: 3px 0;
    width: 50px;
}
.contact-from-wrapper .input-text-container input.input-text {
    float: left;
    padding: 4px 2px;
    width: 294px;
}
.contact-from-wrapper .input-area {  }
.contact-from-wrapper .input-area label{
    font-size: 14px;
    padding: 3px 0;
    display: block;
}
.contact-from-wrapper .input-area textarea {
    display: block;
    height: 210px;
    margin: 10px 0;
    padding: 2px;
    width: 520px;
}
.contact-from-wrapper .submit-btn{
    background: url("../images/bkg_btn_generate.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    font-family: Helvetica,Arial;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    width: 166px;
    cursor: pointer;
} 
*/

/* New Contact Form */
#contact { display: block; }

/* Form style */
#contact label { display: inline-block; float: left; height: 26px; line-height: 26px; width: 155px; }
#contact input, #contact textarea, #contact select { margin: 0; padding: 5px; color: #666; background: #f5f5f5; border: 1px solid #ccc; margin: 5px 0; }
#contact input:focus, #contact textarea:focus, #contact select:focus { border: 1px solid #999; background-color: #fff; color:#333; }
#contact input.submit { cursor: pointer; border: 1px solid #222; background:#333; color:#fff; }
#contact input.submit:hover { background:#444; }
#contact fieldset {  }
#contact legend { padding:7px 10px; font-weight:bold; color:#000; border:1px solid #eee; }

#contact span.required{ font-size: 13px; color: #ff0000; } /* Select the colour of the * if the field is required. */

/* Style for the error message */
#contact .error_message { display: block; height: 22px; line-height: 22px; background: #FBE3E4 url('../images/error.gif') no-repeat 10px center; padding: 3px 10px 3px 35px; margin: 10px 0; color:#8a1f11; }

/* Mailing List */
#mailinglist{ padding:20px 0 0 0; }
#mailinglist form label{ display:block; float:left; width:120px; padding:3px 10px 0 0; margin:0; text-align:right; }
#mailinglist input.inpt,
#mailinglist select,
#mailinglist textarea{ float:left; }
#mailinglist input.inpt, 
#mailinglist textarea, 
#mailinglist select{ margin-bottom: 9px !important; border:1px solid; background-color: #f5f5f5; border-color: #ccc #ddd #ddd #ccc; width: 60%; padding: 4px; }

#mailinglist input.inpt, 
#mailinglist textarea, 
#mailinglist select{ -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px;	}

#mailinglist input.inpt:focus,
#mailinglist select:focus,
#mailinglist textarea:focus{ background:#fff; }
#mailinglist input.btn{ clear:both; float:left; padding:2px 5px; margin-left:129px; }

/* Annotation overlay effect */
.portfolio{	width:500px;margin:0 auto; position:relative; }
.portfolio_item{ position:relative;	margin:30px auto; }
.image_wrap{ width:500px;	height:500px;	display:table-cell;	text-align:center; vertical-align:middle;	position:relative;
	cursor:pointer; }
.image_wrap > img{ vertical-align:middle;	margin:0 auto; position:relative;	-moz-box-shadow:1px 1px 7px #000;	-webkit-box-shadow:1px 1px 7px #000;	box-shadow:1px 1px 7px #000; }
.zoom_overlay{ width:400px;	height:400px;	margin:-200px 0px 0px -200px;	background:transparent url(../images/overlay.png) repeat top left;	position:absolute; top:50%;	left:50%;	display:none;	opacity:0; -moz-border-radius:10px;	-webkit-border-radius:10px;	border-radius:10px;	cursor:pointer;	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }
.zoom_overlay img{ display:none; }
