body {

}

.container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}


.signup-form, .privacy-for-signup{
	float: left;
}

.privacy-for-signup p, .privacy-for-signup h1{
	width: 200px;
}

.sponsored{
	width: 728px;
	margin-left: auto;
	margin-right: auto;
}

.sponsored .banner{
	width: 728px;
	height: 90px;
	border: 1px solid black;
}

.clear{
	clear: both;
}
