
/* ------------------------------------------------------------------
 * Forms
 * --------------------------------------------------------------- */

#widgetForm .help-inline {
  float: left;
  clear: left;
  padding: 10px 0 5px;
  width: 30em;
}

#widgetForm .error-msg { display: none; }
