
/*.widget-wrapper {
  width: 346px;
}*/

/*.widget-wrapper h4 {
  color: #676767;
  font-size: 13px;
  text-shadow: 1px 1px 1px #FFFFFF;
  padding-left: 7px;
}*/

.widget-wrapper .widget {
  width: 200px;
  height: 300px;
  padding: 0;
  border-radius: 7px;
  box-shadow: 2px 2px 8px #888;
}


/**
 * Widget title and about text
 */

.widget h2.widget-title {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 85%;
  margin: 0 5px;
  padding: 15px 0 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.widget h2.widget-title.long-title {
  font-size: 26px;
}

.widget .about {
  height: 38px;
}


/**
 * Overview of campaign goal and amount raised-so-far.
 */

.raised-and-goal h2 {
  margin: 0 0 4px 0;
  font-size: 10px;
  font-weight: bold;
}

.raised-and-goal .amount {
  margin: 0 0 2px 0;
  font-size: 16px;
  line-height: 100%;
}

.raised-and-goal .alt-amount {
  font-size: 10px;
  color: #4a667c;
}

.raised-and-goal .raised {
  width: 103px;
}

.raised-and-goal .goal {
  width: 93px;
}


/**
 * Progress bar
 */

.status-bar-container { margin: 12px 0 7px 0; }
.status-bar-container .bg-bar {
  background: none;
  /*background-color: #cfcfcf;*/
  background-color: rgba(215, 215, 215, 0.6);
  border: 1px solid #a2a2a2;
  height: 33px;
  margin: 0 auto;
  overflow: hidden;
  padding: 2px;
  width: 170px;
}
.status-bar-container .bg-bar .bar {
  background: url("../images/progress-bar.png") no-repeat scroll 100% 0 transparent;
  height: 34px;
}


/**
 * "Contribute Now" and "View Progress" buttons
 */

.btn-container {
  background: url("../images/contribute-bkg.png") repeat-x scroll center center transparent;
  opacity: 0.9;
  position: fixed;
  top: 220px;
  left: 5px;
  width: 192px;
}

.btn-container .btn {
  background: url("../images/contribute-btn-small.png") no-repeat scroll 0 0 transparent;
  width: 175px;
  height: 32px;
  font-size: 14px;
  line-height: 30px;
}


/**
 * Contribute section (Bitcoin send-to address, "learn more" link, etc).
 */

.widget-wrapper #contribute h6 {
  /*margin: 5px 0 1px 0;
  text-transform: uppercase;
  text-align: center;*/
  font-size: 12px;
}

.widget-wrapper .btc-addr {
  font-size: 10px;
  /*  margin-bottom: 10px;*/
}


.widget #footer {
  text-align: center;
  position: absolute;
  top: 257px;
  left: 0;
  width: 200px;
}

.widget #footer .powered a span {
  font-size: 9px;
  display: block;
}

.widget #footer .powered img {
  width:  14px;
  height: 14px;
}
