
@font-face {
	font-family: 'Conv_ChaletComprimeCologneEighty';
	src: url('fonts/ChaletComprimeCologneEighty.eot');
	src: local('☺'), url('fonts/ChaletComprimeCologneEighty.woff') format('woff'), url('fonts/ChaletComprimeCologneEighty.ttf') format('truetype'), url('fonts/ChaletComprimeCologneEighty.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.widget-wrapper {
  width: 346px;
}

/*.widget-wrapper h4 {
  color: #676767;
  font-size: 13px;
  text-shadow: 1px 1px 1px #FFFFFF;
  padding-left: 7px;
}*/

.widget-wrapper .widget {
  height: 298px;
  padding: 5px 9px 7px 6px;
}


/**
 * Widget title and about text
 */

.widget h2.widget-title {
  border-bottom: 1px solid #ddd;
  color: #DB3900;
  font-family: 'Conv_ChaletComprimeCologneEighty';
  font-size: 46px;
  letter-spacing: -1px;
  line-height: 85%;
  margin: 0 5px;
  padding: 15px 0 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.widget h2.widget-title.long-title {
  font-size: 40px;
}

.about {
  height: 42px;
  margin: 5px 1em;
  font-size: 11px;
  color: #666;
  text-align: justify;
  overflow: hidden;
  border-bottom: 1px solid #C6C6C6;
}

.about span {
  font-size: 110%;
  color: #aaa;
}

.about span a {
  font-size: 11px;
  text-transform: lowercase;
  padding: 0 2px;
}


/**
 * Overview of campaign goal and amount raised-so-far.
 */

.raised-and-goal {
  margin: 10px 0;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
}

.raised-and-goal .raised {
  border-right: 1px dashed #CBCBCB;
  float: left;
}

.raised-and-goal .goal {
  float: right;
}


/**
 * Section relaying information on how to contribute (Bitcoin address to send to,
 * "learn more" link, etc).
 */

#contribute {
  height: 116px;
}

#contribute h6 {
  margin: 5px 0 1px 0;
  text-transform: uppercase;
  text-align: center;
  color: #888;
}

#contribute .btc-addr {
  font-weight: bold;
  text-align: center;
  color: #4477bb;
  text-shadow: #bbd 1px 1px 2px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.qr-code {
  text-align: center;
}

.qr-code img {
  border: 1px solid #bbb;
  box-shadow: 0 0 5px silver;
}

.widget-wrapper #contribute .buy-bitcoins {
  color: #5A5A5A;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 1px #FFFFFF;
}


/**
 * Progress bar
 */

.status-bar-container { margin: 0 0 7px 0; }
.status-bar-container .bg-bar {
  background: url("../images/progress-bkg.png") repeat scroll 0 0 transparent;
  height: 33px;
  margin: 0 auto;
  overflow: hidden;
  padding: 3px;
  width: 278px;
}
.status-bar-container .bg-bar .bar {
  background: url("../images/progress-bar.png") no-repeat scroll 100% 0 transparent;
  height: 34px;
}


/*.widget .buy-bitcoins {
  color: #5A5A5A;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 1px #FFFFFF;
}*/

.widget /*.a-center*/ .powered {
  color: #888888;
  font-family: arial;
  font-size: 10px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #FFFFFF;
  text-transform: uppercase;
}


/**
 * White widget
 */

.widget-wrapper .widget.widget-white {
  background: url("../images/skins/white.350x310.png") no-repeat scroll 0 0 transparent;
}


/**
 * Silver widget
 */

.widget-wrapper .widget.widget-silver {
  background: url("../images/skins/silver.350x310.png") no-repeat scroll 0 0 transparent;
}

.widget-wrapper .widget.widget-silver h2.widget-title {
  background: url("../images/line.png") repeat-x scroll center bottom transparent;
  border-bottom: 0 none;
  padding-bottom: 4px;
}

.widget.widget-silver .about {
  color: #222;
  text-shadow: 1px 1px 3px #bbb;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}

.widget-wrapper .widget.widget-silver .btn-container {
  background-image: url("../images/line.png");
}


/**
 * Blue widget
 */

.widget-wrapper .widget.widget-blue {
  background: url("../images/skins/blue.350x310.png") no-repeat scroll 0 0 transparent;
}

.widget-wrapper .widget.widget-blue .btn-container {
  background-image: url("../images/line.png");
}

.widget-wrapper .widget.widget-blue h2.widget-title {
  background: url("../images/line.png") repeat-x scroll center bottom transparent;
  border-bottom: 0 none;
  padding-bottom: 4px;
}

.widget.widget-blue #contribute h6 {
  color: #333;
}

.widget.widget-blue .powered {
  color: #336;
}


/**
 * Dark widget
 */

.widget-wrapper .widget.widget-dark {
  background: url("../images/skins/dark.350x310.png") no-repeat scroll 0 0 transparent;
}

.widget.widget-dark .about {
  color: #eee;
  border-bottom: 1px solid #666;
  border-bottom: 1px solid rgba(150, 150, 150, .3);
}

.widget.widget-dark .about a {
  color: #fff;
  font-weight: bold;
}
.widget.widget-dark .about a:hover {
  text-decoration: underline;
  background: rgba(200, 200, 200, 0.3);
}

.widget-wrapper .widget.widget-dark .btn-container {
  background-image: url("../images/line-dark.png");
}

.widget-wrapper .widget.widget-dark h2.widget-title {
  background: url("../images/line-dark.png") repeat-x scroll center bottom transparent;
  color: #eee;
  text-shadow: 1px 1px 3px #bbb;
  border-bottom: 0 none;
  padding-bottom: 2px;
}

.widget.widget-dark .raised-and-goal h2,
.widget.widget-dark .raised-and-goal .amount,
.widget.widget-dark .raised-and-goal .alt-amount {
  color: #fff;
}

.widget.widget-dark .btc-addr {
  color: #ddd;
}

.widget-wrapper .widget.widget-dark /*.a-center*/ .buy-bitcoins {
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
}

.widget-wrapper .widget.widget-dark /*.a-center*/ .powered {
  color: #aaa;
  text-shadow: 1px 1px 1px #000000;
}
