
.widget.widget-silver h2.widget-title {
  background: url("../images/line.png") repeat-x scroll center bottom transparent;
  border-bottom: 0 none;
  padding-bottom: 4px;
}

.widget.widget-silver .about {
  color: #222;
  text-shadow: 1px 1px 3px #bbb;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}

.widget.widget-silver .raised-and-goal .raised {
  border-right: 1px dashed #999;
  float: left;
}

.widget.widget-silver .btn-container {
  background-image: url("../images/line.png");
}

.widget.widget-silver .powered a {
  color: #222;
  text-shadow: 1px 1px 1px #FFFFFF;
}

.widget.widget-silver #footer img {
  opacity: 0.8;
}
