@font-face {
	font-family: 'Conv_ChaletComprimeCologneEighty';
	src: url('fonts/ChaletComprimeCologneEighty.eot');
	src: local('☺'), url('fonts/ChaletComprimeCologneEighty.woff') format('woff'), url('fonts/ChaletComprimeCologneEighty.ttf') format('truetype'), url('fonts/ChaletComprimeCologneEighty.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Gotham-Book';
	src: url('fonts/Gotham-Book.eot');
	src: local('☺'), url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf') format('truetype'), url('fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Reset ================================================================================= */
* { margin:0; padding:0; }

body          { background:#fff; font: 300 13px/1.55 'Helvetica Neue',  Helvetica, Arial, sans-serif; color:#2f2f2f; }

img           { border:0; vertical-align:top; }

a             { color:#1e7ec8; text-decoration:underline; }
a:hover       { text-decoration:none; }
:focus        { outline:0; }

/* Headings */
h1,h2,h3,
h4,h5,h6      { margin:0 0 5px; line-height:1.35; color:#0a263c; }
h1            { font-size:20px; font-weight:normal; }
h2            { font-size:18px; font-weight:normal; }
h3            { font-size:16px; font-weight:bold; }
h4            { font-size:14px; font-weight:bold; }
h5            { font-size:12px; font-weight:bold; }
h6            { font-size:11px; font-weight:bold; }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 10px; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */
ul,ol         { list-style:none; }

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
.clear        { clear: both !important; }
/* ======================================================================================= */


.widget-wrapper {
  width: 346px;
}

.widget-wrapper h4 {
    color: #676767;
    font-size: 13px;
    text-shadow: 1px 1px 1px #FFFFFF;
    padding-left: 7px;
}

.widget-wrapper .widget {
    height: 298px;
    padding: 5px 9px 7px 6px;
}

.widget-wrapper .widget h2.widget-title {
  /*border-bottom: 1px solid #C6C6C6;*/
  border-bottom: 1px solid #ddd;
  color: #DB3900;
  font-family: 'Conv_ChaletComprimeCologneEighty';
  font-size: 46px;
  letter-spacing: -1px;
  line-height: 85%;
  margin: 0;
  padding: 18px 0 0;
  text-align: center;
  text-transform: uppercase;
}

/*#overview, #contribute {
  height: 125px;
}*/


/**
 * Overview of campaign goal and amount raised-so-far.
 */

.widget-wrapper .raised-and-goal {
  margin: 10px 0px;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
}

.widget-wrapper .raised-and-goal h2 { margin: 0; font-size: 27px; line-height: 100%; }
.widget-wrapper .raised-and-goal h6 { margin: 0; font-size: 12px; }

.widget-wrapper .raised-and-goal .raised {
  border-right: 1px dashed #CBCBCB;
  float: left;
  width: 166px;
}

.widget-wrapper .raised-and-goal .goal {
  float: right;
  width: 160px;
}


/**
 * Section relaying information on how to contribute (Bitcoin address to send to,
 * "learn more" link, etc).
 */

#contribute {
  height: 116px;
}

.widget-wrapper #contribute h6 {
  margin: 10px 0px 4px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #888;
}

.widget-wrapper .btc-addr {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #4477bb;
  text-shadow: #bbd 1px 1px 2px;
  letter-spacing: -1px;
  margin: 5px 0;
}

.qr-code {
  text-align: center;
}

.qr-code img {
  border: 1px solid #bbb;
  /*border-radius: 2px;*/
  box-shadow: 0 0 5px silver;
}

.widget-wrapper #contribute .buy-bitcoins {
    color: #5A5A5A;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFFFFF;
}


.status-bar-container { margin: 0 0px 7px 0; }
.status-bar-container .bg-bar {
    background: url("../images/bkg_progress.png") repeat scroll 0 0 transparent;
    height: 33px;
    margin: 0 auto;
    overflow: hidden;
    padding: 3px;
    width: 278px;
}
.status-bar-container .bg-bar .bar {
    background: url("../images/bkg_progress_bar.png") no-repeat scroll 100% 0 transparent;
    height: 34px;
}

.about {
  height: 42px;
  margin: 5px 1em;
  font-size: 11px;
  color: #666;
  text-align: justify;
  overflow: hidden;
  border-bottom: 1px solid #C6C6C6;
}

.about span {
  font-size: 110%;
  color: #aaa;
}

.about span a {
  font-size: 11px;
  text-transform: lowercase;
  /*text-transform: uppercase;
  font-variant: small-caps;*/
  padding: 0 2px;
}

/**
 * "Contribute Now" and "View Progress" buttons
 */
.btn-container {
  background: url("../images/bkg_contribute.png") repeat-x scroll center center transparent;
  position: fixed;
  top: 235px;
  left: 8px;
  width: 325px;
}
.btn-container .btn {
  background: url("../images/btn_contribute.png") no-repeat scroll 0 0 transparent;
  display: block;
  width: 233px;
  height: 43px;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 43px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px #B5B5B5;
  text-transform: uppercase;
  margin: 0 auto;
}

/*.widget .buy-bitcoins {
    color: #5A5A5A;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFFFFF;
}*/

.widget #footer {
  text-align: center;
  position: absolute;
  top: 280px;
  left: 0;
  width: 346px;
}

.widget /*.a-center*/ .powered {
  color: #888888;
  font-family: arial;
  font-size: 10px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #FFFFFF;
  text-transform: uppercase;
}


/**
 * White widget
 */

.widget-wrapper .widget.widget-white {
  background: url("../images/bkg_white_widget.png") no-repeat scroll 0 0 transparent;
}


/**
 * Silver widget
 */

.widget-wrapper .widget.widget-silver {
  background: url("../images/bkg_white_silver.png") no-repeat scroll 0 0 transparent;
}

.widget-wrapper .widget.widget-silver .btn-container{
  background-image: url("../images/widget_silder_line.png");
}

.widget-wrapper .widget.widget-silver h2.widget-title {
  background: url("../images/widget_silder_line.png") repeat-x scroll center bottom transparent;
  border-bottom: 0 none;
  padding-bottom: 4px;
}


/**
 * Blue widget
 */

.widget-wrapper .widget.widget-blue {
  background: url("../images/bkg_white_blue.png") no-repeat scroll 0 0 transparent;
}

.widget-wrapper .widget.widget-blue .btn-container {
  background-image: url("../images/widget_silder_line.png");
}

.widget-wrapper .widget.widget-blue h2.widget-title {
  background: url("../images/widget_silder_line.png") repeat-x scroll center bottom transparent;
  border-bottom: 0 none;
  padding-bottom: 4px;
}


/**
 * Dark widget
 */

.widget-wrapper .widget.widget-dark {
  background: url("../images/bkg_white_dark.png") no-repeat scroll 0 0 transparent;
}

.widget-wrapper .widget.widget-dark .btn-container {
  background-image: url("../images/bkg_line_dark.png");
}

.widget-wrapper .widget.widget-dark h2.widget-title {
  background: url("../images/bkg_line_dark.png") repeat-x scroll center bottom transparent;
  border-bottom: 0 none;
  padding-bottom: 4px;
}

.widget-wrapper .widget.widget-dark .raised-and-goal h6,
.widget-wrapper .widget.widget-dark .raised-and-goal h2 {
  color: #fff;
}

.widget-wrapper .widget.widget-dark /*.a-center*/ .buy-bitcoins {
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
}

.widget-wrapper .widget.widget-dark /*.a-center*/ .powered {
  color: #525252;
  text-shadow: 1px 1px 1px #000000;
}
